p,
h1,
h3,
h4,
h5,
a {
  font-family: "PokeFont";
}

a {
  color: inherit;
}

@font-face {
  font-family: "PokeFont";
  src: url("/src/fonts/Truth\ And\ Ideals-Normal.ttf") format("truetype");
}

body {
  background-image: url("/src/images/backgrounds/BW2BACKGROUND.png");
  padding: 0;
  /* cursor: url("/src/images/cursor.PNG"), pointer; */
}

::-webkit-scrollbar {
  width: 7px;
  background-color: black !important;
}

::-webkit-scrollbar-thumb {
  background-color: white !important;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  overflow-y: hidden;
}

/* .content {
  min-height: calc(
    100vh - (header height + footer height)
  ); }

/*       !!!TOPBAR!!!        */

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background: linear-gradient(115deg, #ddd3d8 57.7%, black 57.7%);
}

.title {
  display: flex;
  align-items: center;
  width: auto;
  float: left;
  margin: 10px;
}

.title > p {
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
  margin: 0 10px;
}

.whitekyurem {
  width: 50px;
}

.reshiram {
  width: 50px;
}

.caught {
  display: flex;
  align-items: center;
  float: right;
  background: rgb(30, 29, 29);
  clip-path: polygon(
    0% 8%,
    8% 0%,
    92% 0%,
    100% 8%,
    100% 92%,
    92% 100%,
    8% 100%,
    0 92%
  );
  padding: 5px 15px;
  color: white;
  margin-left: 10px;
  margin-top: 12.5px;
}

.pokeball {
  width: 30px;
  margin-right: 10px;
}

/*       !!!POKEDEX!!!        */

.pokelist-container {
  float: right;
  width: 30%;
  overflow: hidden;
  padding: 10px;
  margin-top: 15px;
}

.all-pokemon-container {
  overflow-y: scroll;
  width: 100%;
  height: 80vh;
  margin: 10px 5px;
  overflow-x: hidden;
}

.pokemon-container {
  position: relative;
  display: flex;
  /* justify-content: flex-end; */
  margin: 5px;
}

.pokemon-entry {
  position: relative;
  cursor: pointer;
}

.pokemon-details-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 90%;
}

.pokemon-details-container:hover {
  background-image: url("/src/images/slots/pokedexentryselected.png");
}

.pokemon-icon {
  position: absolute;
  left: 9px;
  bottom: 3px;
}

.pokemon-icon:hover {
  opacity: 0.5;
}

.pokemon-name-id-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.pokemon-name-container {
  width: 70%;
  float: right;
  justify-content: center;
  align-items: center;
}

.pokemon-id-container {
  width: 30%;
}

.pokemon-id {
  left: 25%;
  float: left;
}

.pokemon-details-container-text {
  color: white;
  font-weight: 600;
}

.add-to-team {
  width: 28%;
  position: absolute;
  right: 5px;
}

.add-to-team-button {
  display: block;
  width: 100%;
  height: auto;
}

.add-to-team-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 74%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 8px;
  font-weight: 700;
}

.add-to-team:hover {
  opacity: 0.8;
}

/* SEARCH BAR */

.search-tools-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.search-bar-container {
  position: relative;
}

.clear-button {
  position: absolute;
  cursor: pointer;
  background: none;
  border: none;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 5px;
}

.search-bar[type="text"] {
  display: inline-flex;
  align-items: center;
  background: rgb(30, 29, 29);
  clip-path: polygon(
    0% 8%,
    8% 0%,
    92% 0%,
    100% 8%,
    100% 92%,
    92% 100%,
    8% 100%,
    0 92%
  );
  padding: 10px 20px;
  width: 190px;
  font-family: "PokeFont";
  color: white;
  margin-left: 2px;
}

.search-bar[type="text"]::placeholder {
  color: white;
  font-family: "PokeFont";
}

.toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.game-type-toggle,
.pokedex-toggle {
  cursor: pointer;
  padding: 5px;
}

.toggle-button {
  display: inline-flex;
  align-items: center;
  background: rgb(30, 29, 29);
  clip-path: polygon(
    0% 8%,
    8% 0%,
    92% 0%,
    100% 8%,
    100% 92%,
    92% 100%,
    8% 100%,
    0 92%
  );
  padding: 5px 10px;
  font-family: "PokeFont";
  color: white;
  cursor: pointer;
}

/*       !!!TEAM BUILDER!!!        */

.team-builder-container {
  float: left;
  width: 70%;
  height: 88vh;
  padding: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
  overflow-x: hidden;
}

.team-slot {
  min-height: 220px;
  max-height: 80%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.team-slot:nth-child(even) {
  top: 20%;
}

.team-slot-bw2 {
  width: 104%;
  height: 90%;
}

.team-slot-container {
  position: absolute;
  width: 94%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.topbar-container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 96%;
  height: 36px;
}

.pokeball-dropdown {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  left: 3%;
}

.pokeball-dropdown-wrapper {
  display: flex;
  width: 120%;
}

.selected-pokeball {
  width: 128%;
}

.list {
  position: absolute;
  top: 52px;
  left: 0;
  width: 80%;
  cursor: pointer;
  max-height: 80px;
  overflow-y: scroll;
  display: none;
}

.show {
  display: block;
}

.item {
  display: flex;
  align-items: center;
}

.team-slot-name {
  font-family: "PokeFont";
  font-weight: 600;
  src: url("/src/fonts/Truth\ And\ Ideals-Normal.ttf") format("truetype");
  background-image: url("/src/images/backgrounds/team\ slot\ bg.png");
  background-size: 22%;
  position: absolute;
  left: 20%;
  top: 24%;
  color: white;
  text-align: center;
  width: 50%;
  clip-path: polygon(
    0% 8%,
    8% 0%,
    92% 0%,
    100% 8%,
    100% 92%,
    92% 100%,
    8% 100%,
    0 92%
  );
}

.shiny-icon {
  cursor: pointer;
  position: absolute;
  width: 30px;
  top: 4%;
  right: 10%;
}

.shiny-icon:hover {
  filter: invert(100%);
}

.remove-from-team {
  cursor: pointer;
  position: absolute;
  width: 24px;
  top: 10%;
  right: 2%;
}

.team-slot-image-container {
  width: 24%;
  height: 60%;
  position: absolute;
  left: 16%;
  bottom: 18%;
}

.team-pokemon-sprite {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.nature-stats {
  position: absolute;
  left: 4%;
  bottom: 1%;
}

.team-slot-all-dropdowns {
  position: relative;
  left: 42%;
  top: 3%;
  width: 100%;
  height: 80%;
}

.team-slot-dropdowns {
  padding: 8px;
  width: 60%;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.team-slot-move-dropdowns,
.team-slot-ability-dropdown,
.team-slot-nature-dropdown {
  text-transform: capitalize;
  font-family: "PokeFont";
  src: url("/src/fonts/Truth\ And\ Ideals-Normal.ttf") format("truetype");
  font-size: 10px;
  width: 100%;
  margin: 2px;
  font-weight: 600;
  background-image: url("/src/images/backgrounds/team\ slot\ bg.png");
  background-size: 72%;
  color: white;
  border: 2px solid white;
  display: flex;
  clip-path: polygon(
    0% 5%,
    5% 0%,
    95% 0%,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%
  );
}

.team-slot-dropdown-options {
  text-transform: capitalize;
  font-family: "PokeFont";
  src: url("/src/fonts/Truth\ And\ Ideals-Normal.ttf") format("truetype");
  font-size: 12px;
  width: 100%;
  font-weight: 600;
  background: rgb(30, 29, 29);
  color: white;
  text-align: center;
  border: 2px solid white;
  display: flex;
  margin: 6px;
  clip-path: polygon(
    0% 5%,
    5% 0%,
    95% 0%,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%
  );
}

.stat-increase,
.stat-reduction,
.no-stat-changes {
  font-family: "PokeFont";
  src: url("/src/fonts/Truth\ And\ Ideals-Normal.ttf") format("truetype");
  color: white;
}

.stat-increase,
.stat-reduction {
  text-transform: capitalize;
}

.stat-increase {
  text-shadow: 0 0 1px green, 0 0 1px green;
}

.stat-reduction {
  text-shadow: 0 0 1px red, 0 0 1px red;
}

.no-stat-changes {
  text-shadow: 0 0 1px blue, 0 0 1px blue;
}

.question-mark {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/*       !!!MODAL!!!        */

.modal {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  align-items: center;
  background-image: url("/src/images/backgrounds/BW2BACKGROUND.png");
}

.modal-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 80%;
  max-height: 90vh;
  /*background: rgb(30, 29, 29, 0.7);
  padding: 10px;*/
}

.container-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding: 0 10px;
  width: 100%;
  height: 65px;
  background: linear-gradient(135deg, rgb(41, 40, 40) 42%, black 40%);
  clip-path: polygon(
    0% 8%,
    8% 0%,
    92% 0%,
    100% 8%,
    100% 92%,
    92% 100%,
    8% 100%,
    0 92%
  );
}

.image-title {
  width: 54px;
  min-height: 60px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.id-title {
  width: 180px;
  color: white;
}

.pokeball-title {
  width: 30px;
  margin-left: auto;
}

.battlefield {
  position: relative;
  width: 96%;
  min-height: 290px;
  margin-top: 20px;
}

.bw-field {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  clip-path: polygon(
    0% 8%,
    8% 0%,
    92% 0%,
    100% 8%,
    100% 92%,
    92% 100%,
    8% 100%,
    0 92%
  );
}

.front-sprite-container,
.shiny-sprite-container,
.back-shiny-sprite-container,
.back-sprite-container {
  width: 24%;
  height: 110px;
  position: absolute;
}

.back-shiny-sprite-container,
.back-sprite-container {
  width: 30%;
  height: 160px;
  position: absolute;
}

.front-sprite,
.shiny-sprite,
.back-shiny-sprite,
.back-sprite {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.front-sprite-container,
.shiny-sprite-container {
  top: 19%;
}

.front-sprite-container {
  right: 6%;
}

.shiny-sprite-container {
  left: 52%;
}

.back-sprite-container,
.back-shiny-sprite-container {
  bottom: 6%;
}

.back-sprite-container {
  right: 38%;
}

.back-shiny-sprite-container {
  left: 8%;
}

.details-container {
  display: flex;
  width: 84%;
  clip-path: polygon(
    0% 8%,
    8% 0%,
    92% 0%,
    100% 8%,
    100% 92%,
    92% 100%,
    8% 100%,
    0 92%
  );
}

.details-left {
  background: #dbdbd9;
  text-align: center;
}

.details-right {
  background: #ffffff;
}

.details-left,
.details-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 16px;
  align-items: center;
}

.details-left > p,
.details-right > p {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px;
}

.base-stats,
.move-ability-container {
  display: flex;
  width: 100%;
  background: #ffffff;
  padding: 4px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.base-stats > div,
.move-ability-container > div {
  text-align: center;
  width: 100%;
}

.move-full-container,
.ability-full-container {
  display: flex;
  width: 100%;
}

.stats,
.move-ability-details {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 40px;
  background: rgb(30, 29, 29);
  color: white;
  border: 1px solid white;
}

.move-ability-description-effect,
.description-effect {
  max-height: 90px;
}

.description-effect {
  overflow-y: scroll;
  text-transform: none;
  padding-left: 6px;
  padding-right: 6px;
}

.moves-container,
.abilities-container {
  overflow-y: scroll;
  display: flex;
  width: 30%;
  height: 282px;
  padding: 6px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.moveslots-abilityslots {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.moveslots-abilityslots img {
  display: block;
  width: 100%;
  height: auto;
}

.moves,
.abilities {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.abilities-container {
  height: 100px;
}

.moves-container > div,
.abilities-container > div {
  text-align: center;
  width: 100%;
}

.moves-details {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 45px;
  background: rgb(30, 29, 29);
  color: white;
  border: 1px solid white;
}

.moves,
.abilities {
  cursor: pointer;
}

.moves:hover,
.abilities:hover {
  opacity: 0.4;
}

.type-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 120px;
}

.type-image-container img {
  padding: 11.5px;
  width: 140%;
}

/*       !!!BOTTOMBAR!!!        */

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2em;
}

.bottom-btn {
  display: flex;
  grid-template: 15px;
  color: white;
  cursor: pointer;
}

.bg-circle-white {
  border-radius: 50%;
  padding: 0 5px;
  margin: 0px 8px;
  background: white;
  color: black;
}

/*       !!!ABOUT-MODAL!!!        */

.about-modal {
  overflow-y: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  align-items: center;
  background-image: url("/src/images/backgrounds/modalbackground.png");
}

.about-modal-wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.close-about-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 2;
}

.credits-section {
  color: white;
}

.about-modal-open {
  margin-right: 5px;
}

/*       !!!LOADING SPINNER!!!        */

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*       !!!MEDIAQUERIES!!!        */

@media only screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .team-builder-container {
    width: 100%;
    height: 1500px;
    float: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .team-slot {
    width: 85%;
    height: 17.5%;
  }

  .team-slot:nth-child(even) {
    top: 0px;
  }
  .team-slot-all-dropdowns {
    position: relative;
    left: 40%;
    bottom: 5%;
    width: 70%;
    height: 80%;
  }

  .team-slot-dropdowns {
    width: 90%;
  }

  .pokelist-container {
    margin-top: 24px;
    width: 350px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bottom {
    position: relative;
  }

  .details-left,
  .details-right,
  .stats,
  .move-ability-details {
    font-size: 14px;
  }
}

@media only screen and (min-width: 638px) and (max-width: 900px) {
}

@media only screen and (min-width: 450px) and (max-width: 900px) {
  .pokelist-container {
    margin-right: 22.5%;
  }
}

@media only screen and (max-width: 550px) {
  .about-modal {
    width: 70%;
    height: 60%;
  }
}

@media only screen and (max-width: 520px) {
  .container-title {
    font-size: 16px;
  }
  .pokeball-title {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .container-title {
    font-size: 16px;
  }

  .type-image-container {
    min-width: 80px;
  }

  .modal-wrapper {
    width: 95vw;
  }

  .move-full-container,
  .ability-full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .moves-container,
  .abilities-container {
    width: 60%;
  }
}

@media only screen and (max-width: 370px) {
  .reshiram,
  .whitekyurem {
    display: none;
  }
}
